@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

:root {
  --lightcyan: hsl(193, 38%, 86%);
  --neongreen: hsl(150, 100%, 66%);
  --grayishblue: hsl(217, 19%, 38%);
  --darkgrayishblue: hsl(217, 19%, 24%);
  --darkblue: hsl(218, 23%, 16%);
  --qoute-font: 28px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--darkblue);
  color: #fff;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 320px;
  background-color: var(--darkgrayishblue);
  padding: 30px;
  position: relative;
  border-radius: 10px;
}

.advice-id {
  text-align: center;
  color: var(--neongreen);
  letter-spacing: 3px;
 
}

.divider {
  width: 100%;
  margin-bottom: 10px;
}

.dice-icon {
  position: absolute;
  bottom: -20px;
  left: 138px;
  background-color: var(--neongreen);
  padding: 10px;
  border-radius: 50%;
}

.ad-body {
  margin-block: 20px 30px;
  font-size: 16px;
}
